@import "tailwindcss";


*{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  /* overflow: hidden;  */
   font-family: "Inter Tight", sans-serif;
  background-color: #f8f8f8;
margin:0 auto;
}


.btn {
  padding: 12px 22px;
  transition: 0.3s ease;
}



